body {
    background-image: url("../images/background.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
div {
    color: #ffffff7c;
}
p , a {
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
}
.orange {
    color: rgb(255, 85, 0);
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.developer-contacts {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.header__block {
    background-color: #0000002f;
    backdrop-filter: blur(2px);
    padding: 50px 25px;
    border-radius: 20px;
}
.header__logo {
    font-size: 25px;
    font-weight: 800;
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__link {
    background-color: #00000000;
    backdrop-filter: blur(2px);
    border: none;
    border-radius: 5px;
    padding: 10px;
    min-width: 150px;
    color: #ffffff7c;
    display: block;
    text-align: center;
}
.todo__list {
    background-color: #00000073;
}
.todo__list , .todo__priority {
    backdrop-filter: blur(2px);
    padding: 50px 25px;
    margin-top: 100px;
    border-radius: 20px;
}
.todo__flex {
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.todo__priority {
    background-color: #0000002f;
    max-width: 200px;
    height: 200px;
}
.todo__list {
    max-width: 800px;
}
.todo__table {
    width: 800px;
}
.todo__table-title {
    text-align: top;
    padding: 10px;
    background-color: #00000022;
    border-radius: 15px;
}
.todo__table-column {
    padding-top: 50px;
    padding-bottom: 10px;
}
td {
    text-align: center;
}
.task__task {
    text-align: start;
    padding-left: 5px;
}
.priority__high {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(126, 8, 8);
    border-radius: 50%;
    position: relative;
}
.priority__high::after {
    content: " ";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 60%;
    border: 6px solid #a217178b;
    opacity: 0;
    animation: high 1s linear infinite;
}
.priority__high::after {
    animation-duration: 1s;
}
@keyframes high {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}
@keyframes middle {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}
@keyframes low {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}
.priority__middle {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(142, 79, 8);
    border-radius: 50%;
    position: relative;
}
.priority__middle::after {
    content: " ";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 60%;
    border: 4px solid #a26a178b;
    opacity: 0;
    animation: middle 2s linear infinite;
}
.priority__middle::after {
    animation-duration: 2s;
}

.priority__low {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(8, 142, 21, 0.562);
    border-radius: 50%;
    position: relative;
}
.priority__low::after {
    content: " ";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 60%;
    border: 4px solid #17a21c5f;
    opacity: 0;
    animation: low 2s linear infinite;
}
.priority__low::after {
    animation-duration: 2s;
}
option {
    background-color: #000000;
    border: none;
}